# Compiled source #
###################
*.class
*.dll
*.exe
*.pdb
*.ipdb
*.iobj
*.obj

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.tlog
*.lastbuildstate
*.cfg

# Images #
##########
*.jpg
*.jpeg
*.png

# Folders #
###########
Made\ In\ C/.vs/
Made\ In\ C/Keyword Object Detection/x64/
Made\ In\ C/x64/
Made\ In\ Java/.gitignore
